@model WoW.Models.AddRaiderModel

@foreach (var raider in Model.Raiders)
{
    <div class="panel">
        <div class="row">
            <div class="large-3 medium-3 columns">
                <h4>@Html.LabelFor(m => raider.Name) @Html.DisplayFor(m => raider.Name)</h4>
            </div>
            <div class="large-3 medium-3 columns">
                <h4>@Html.LabelFor(m => raider.Realm) @Html.DisplayFor(m => raider.Realm)</h4>
            </div>
        </div>
    </div>
}

@using (Ajax.BeginForm("NewRaider", new AjaxOptions()))
{

    <div class="panel">
        <div class="row">
            <div class="large-3 medium-3 columns">
                <h4>@Html.LabelFor(m => m.NewRaider.Name) @Html.EditorFor(m => m.NewRaider.Name)</h4>
            </div>
            <div class="large-3 medium-3 columns">
                <h4>@Html.LabelFor(m => m.NewRaider.Realm) @Html.EditorFor(m => m.NewRaider.Realm)</h4>
            </div>
        </div>
    </div>
}
